<button type="button" (click)="goBack()"> Back </button>

<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <!--  input tag 1-->
  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>

  <!--  input tag 2-->
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>

  <!-- Add submit button -->
  <button (click)="addArticle(newtitle, newlink)"
          class="ui positive right floated button">
    Submit link
  </button>
</form>


<div class="ui grid posts">
  <app-reddit-article
    *ngFor="let individualArticle of sortedArticles()"
    [article]="individualArticle">
  </app-reddit-article>
</div>

